body {
    font-family: Arial, Helvetica, sans-serif;
}
.content {
    width: 500px;
    margin: 0 auto;
    padding: 0px 20px 30px ;
    border: 2px solid navy;
}
h1 {
    color: navy;
}
label {
    width: 10em;
    padding-right: 1em;
    float: left;
}
.data input{
    float: left;
    width: 15em;
    margin-bottom: .5em;
}
#buttons input{
    float: left;
    margin-bottom: .5em;
}
br {
    clear: left;
}
#button {
    margin-left: 12em;
    
}